<div class="page-header" style="margin-top: 0px">
  <div class="home-splash-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4 title-info">
          我是白帽駭客<br>我只做良心事業<br>
          <%= link_to 'Click', profiles_path, class: "btn btn-lg btn-info withripple" %>
        </div>
        <div class="col-md-4 col-md-offset-4 title-info">
          我是廠商<br>我需要眾測服務<br>
          <button class="btn btn-lg btn-warning withripple">Click!</button>
        </div>
      </div>
    </div>
  </div>
</div>